<h1>Header</h1>
<% if (username === undefined) { %>
  <form method="POST" action="/login">
    <input type="text" placeholder="username" name="username">
    <input type="submit">
  </form>
<% } else { %>
  <form method="POST" action="/logout">
  <p><%=username%>
  <button type="submit">Logout</button>

</form>
<% } %>