<h1>Header</h1>
<% if (user) { %>
  <form method="POST" action="/logout">
    <%= username%>
    <button type="submit">Logout</button>
  </form>
<% } else { %>
  <form method="POST" action="/login">
    <input type="text" placeholder="username" name="username">
    <input type="submit">
  </form>
<% } %>