<!DOCTYPE html>
<html>
  <head>
  </head>
    <body>
      <h1>Login here</h1>
      <form method="POST" action="/login">
        Login >>>
        Email:<input type="text" placeholder="email" name="email">
        Password:<input type="password" placeholder="password" name="password">
        <input type="submit">
        <br>
        <a href="/register">Register for an account here</a>
      </form>
    </body>
</html>