<DOCTYPE html>
<html lang="en">
  <head>
  </head>
<body>
<% include partials/_header %>
<ul>
  <% for (let shortUrl in urls) { %>
    <% let longUrl = urls[shortUrl]; %>
    ShortURL: <a href="/urls/<%= shortUrl%>"><%= shortUrl %></a>
    LongURL: <a href="<%= longUrl %>"><%= longUrl %></a>
  <% } %>
</ul>
  <a href=#>Shorten a new URL here</a>
</body>
</html>
