<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
<body>
  <%- include partials/_header %>
  <a href="<%= longUrl%>"><%= longUrl%></a>
  <form method="POST" action="<%= shortUrl %>">
    <label for="longUrl">Enter a New URL:</label>
    <input id="longUrl" type="text" name="longUrl" placeholder="http://" style="width: 300px" >
    <input type="submit" value="Submit" >
  </form>
</html>
